@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family:"Roboto","Arial",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: lighter;
}

#root {
    height: 100vh;
}

code {
    font-family: "Roboto","Arial",sans-serif;
}

.load-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fdba2c;
}
.bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}
.bar:nth-child(1) {
    background-color: #da4733;
    animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
    background-color: #3b78e7;
    animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 3s linear 2s infinite;
}

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }
    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }
    to {
        left: 0;
        width: 100%;
    }
}

.custom-h {
    height: auto !important;
}
@media screen and (min-width: 1024px) {
    .custom-h {
        height: 100vh !important;
    }
}

.custom-scroll {
    height: 100%; /* Adjust height as needed */
    overflow: auto;
  }
  
  .custom-scroll::-webkit-scrollbar {
    width: 8px; /* Width of scrollbar */
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: #00000000; /* Track color */
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
    border-radius: 2px; /* Rounded corners */
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; /* Hover color */
  }
  
.gradient{
    background: rgb(0,0,0);
background: linear-gradient(50deg, rgba(0,0,0,1) 0%, rgb(20, 20, 20) 43%);
}

.app {
    display: flex;
  }
  
  .menu {
    background-color: #333;
    color: #fff;
    width: 250px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .menu.open {
    transform: translateX(0);
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu ul li {
    padding: 15px;
    cursor: pointer;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .hamburger {
    background: none;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .menu {
      width: 300px;
    }
  }
  